@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
/* Required for 3D flip animation */
.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.backface-hidden {
  backface-visibility: hidden;
}

.perspective-1000 {
  perspective: 1000px;
}
